
fieldset {
  width: 95%;
}

span {
  display: block;
  height: 1.5ex;
}

a {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 85%;
}

label {
  clear: left;
  float: left;
  height: 1ex;
  width: 150px;
}

.button {
  width: auto;
}

.short-text {
  clear: right;
  display: block;
  width: 300px;
  line-height: 2ex;
  margin: 0;
  padding: 0;
}

.long-text {
  clear: right;
  display: block;
  width: 600px;
  line-height: 2ex;
  margin: 0;
  padding: 0;
}
.license-text {
  clear: right;
  display: block;
  width: 600px;
  line-height: 2ex;
  margin: 0;
  padding: 0;
}
